*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(76, 185, 202);
}
.container {
        background-color: rgb(3, 24, 50);
        border-radius: 2ch;
        height : 100vh;  
        margin: 50px;
        padding-left: 50px;
        padding-top: 30px;  
 }
.nav{
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 30px;
       height:10%;
}
.nav-left h1{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 40px;
    color: rgb(255, 254, 253);

}
.nav-middle ul{
    display: flex;
    list-style:none;
    margin-right: 30px;   
    padding-top:10;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    justify-content: space-evenly;
}

.nav-middle ul li {
    display: flex;
    margin-right:20px;
    
}
.nav-middle ul li a{
    text-decoration: none;
    color:white;
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    font-size: 15px;
}
.nav-right ul{
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    font-size: 15px;
}
.nav-right ul li{
    list-style: none;
    margin-right: 20px;   
}
.nav-right ul li a{
    text-decoration: none;
    color: white;

}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .image{
    width: 55%;
    margin-top: 70px;
    margin-left: 20px;
}
.content .image img{
    width: 600px;
    margin-left: 20px;
}
.content .text {
    padding-right: 40px;
    width: 30%;
    color: white;
    font-style:normal;
}
.content .text h3{
    font-size: 40px;
    color: white;
}
.content .text p{
    margin-top: 10px;
    font-size: 20px;
    color: gainsboro;
    margin-bottom: 40px;
}
.button button{
    padding: 5px 20px;
    margin-right: 10px;
    border-radius: 5ch;
    font-size: 10px;
}
.button .red{
    background-color: rgb(212, 46, 46);
    border-radius: 10ch;
}
.button .blue{
    background-color: rgb(51, 51, 243);
    border-radius: 10ch;
}
.footer ul {
    display: flex; 
    justify-content: space-evenly;
    width: 90%;
    margin: auto; 
    align-items: center;  
}
.footer ul li{
    padding: 15px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    list-style: none;
}
.fa-brands{
    margin-right: 20px;
}






    



 
