*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255, 0.676);
}
.container {
        background-color: #0b0c1e;
        border-radius: 2ch;
        height : 100vh;  
        margin: 50px;
        padding-left: 50px;
        padding-top: 30px;  
 }
.nav{
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 30px;
       height:10%;
}
.nav-left h1{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.676);

}
.nav-middle ul{
    display: flex;
    list-style:none;
    margin-right: 30px;   
    padding-top:10;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.676);
    padding-left: 20px;
    justify-content: space-evenly;
}

.nav-middle ul li {
    display: flex;
    margin-right:20px;
    
}
.nav-middle ul li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.676);
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    font-size: 15px;
}
.nav-right ul{
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    font-size: 15px;
}
.nav-right ul li{
    list-style: none;
    margin-right: 20px;   
}
.nav-right ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.676);

}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .image{
    width: 48%;
    margin-top: 70px;
    margin-left: 20px;
}
.content .image img{
    width: 600px;
    margin-left: 20px;
}
.content .text {
    padding-right: 40px;
    width: 48%;
    color: rgba(255, 255, 255, 0.676);
    font-style:normal;
}
.content .text h3{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.788);
}
.content .text p{
    margin-top: 10px;
    font-size: 20px;
    color: rgba(220, 220, 220, 0.854);
    margin-bottom: 40px;
}

.button .red{
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(212, 46, 46);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.683);;
}
.button .blue{
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgb(51, 51, 243);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.683);;
    
}
.footer ul {
    display: flex; 
    justify-content: space-evenly;
    width: 90%;
    margin: auto; 
    align-items: center;  
}
.footer ul li{
    padding: 15px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.683);
    list-style: none;
}
.fa-brands{
    margin-right: 20px;
}






    



 
